@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #996533;
  font-family: "Lora", serif;
}

.hide {
  display: none;
}

.intro {
  background-color: #996533;
  color: white;
  margin: auto;
  opacity: 1;
  animation: fade 3s linear;
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  max-width: 18em;
  width: 100%;
}

.is-clicked {
  fill: #000;
}

header {
  text-align: center;
  background-color: #3c2417;
}

.section {
  background-color: #c68c53;
}

.max {
  text-align: center;
}

.width {
  max-width: 38em;
}

.margin {
  margin: auto;
}

.bg {
  background-color: #996533;
  color: #fff;
}

.pulse {
  animation: size 1s alternate-reverse;
}

.candy2 {
  width: auto;
  transform-origin: center center;
}

.size {
  animation: size2 1s alternate-reverse;
}

@keyframes size2 {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes size {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.leaves {
  opacity: 0;
}

.leaves-animate {
  opacity: 1;
  transition: 1s all ease-in;
}

.spoons {
  position: relative;
}

.white {
  fill: #fff;
  transition: 3s all ease-in;
}

.wrapper {
  width: 100%;
}

.conclusion {
  display: block;
}

.light {
  background-color: #d2a579;
}

.wiggle {
  animation: wiggle 1s infinite alternate-reverse;
}

@keyframes wiggle {

  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }

}

.wiggle2 {
  animation: wiggle2 1s infinite alternate-reverse;
}

@keyframes wiggle2 {

  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }

}

.spoonmove {
  position: absolute;
  transform: translate(30em);
  transform: rotate(270deg);
}

.spoonmover {
  transform: translate(0);
  transition: .7s all ease-in;
}

.spoonmove2 {
  position: absolute;
  transform: translate(28em);
  transform: rotate(270deg);
}

.spoonmover2 {
  transform: translate(0);
  transition: .75s all ease-in;
}

.spoonmove8 {
  position: absolute;
  transform: translate(26em);
  transform: rotate(270deg);
}

.spoonmover8 {
  transform: translate(0);
  transition: .8s all ease-in;
}

.spoonmove9 {
  position: absolute;
  transform: translate(24em);
  transform: rotate(270deg);
}

.spoonmover9 {
  transform: translate(0);
  transition: .85s all ease-in;
}

.spoonmove10 {
  position: absolute;
  transform: translate(22em);
  transform: rotate(270deg);
}

.spoonmover10 {
  transform: translate(0);
  transition: .9s all ease-in;
}

.spoonmove4 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover4 {
  transform: translate(0);
  transition: .95s all ease-in;
}

.spoonmove5 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover5 {
  transform: translate(0);
  transition: 1s all ease-in;
}

.spoonmove6 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover6 {
  transform: translate(0);
  transition: 1.05s all ease-in;
}

.spoonmove7 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover7 {
  transform: translate(0);
  transition: 1.1s all ease-in;
}

.spoonmove11 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover11 {
  transform: translate(0);
  transition: 1.15s all ease-in;
}

.spoonmove12 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover12 {
  transform: translate(0);
  transition: 1.2s all ease-in;
}

.spoonmove13 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover13 {
  transform: translate(0);
  transition: 1.25s all ease-in;
}

.spoonmove14 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover14 {
  transform: translate(0);
  transition: 1.3s all ease-in;
}

.spoonmove15 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover15 {
  transform: translate(0);
  transition: 1.35s all ease-in;
}

.spoonmove20 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover20 {
  transform: translate(0);
  transition: 1.4s all ease-in;
}

.spoonmove21 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover21 {
  transform: translate(0);
  transition: 1.45s all ease-in;
}

.spoonmove24 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover24 {
  transform: translate(0);
  transition: 1.5s all ease-in;
}

.spoonmove16 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover16 {
  transform: translate(0);
  transition: 1.55s all ease-in;
}

.spoonmove17 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover17 {
  transform: translate(0);
  transition: 1.6s all ease-in;
}

.spoonmove18 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover18 {
  transform: translate(0);
  transition: 1.65s all ease-in;
}

.spoonmove19 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover19 {
  transform: translate(0);
  transition: 1.7s all ease-in;
}

.spoonmove22 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover22 {
  transform: translate(0);
  transition: 1.75s all ease-in;
}

.spoonmove23 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover23 {
  transform: translate(0);
  transition: 1.8s all ease-in;
}

.spoonmove28 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover28 {
  transform: translate(0);
  transition: 1.85s all ease-in;
}

.spoonmove25 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover25 {
  transform: translate(0);
  transition: 1.9s all ease-in;
}

.spoonmove29 {
  position: absolute;
  transform: translate(20em);
  transform: rotate(270deg);
}

.spoonmover29 {
  transform: translate(0);
  transition: 1.95s all ease-in;
}

@keyframes move {

  0% {
    transform: rotate(0deg);
    transform: translate(0);
  }

  100% {
    transform: rotate(900deg);
    transform: translate(0);
  }

}
